<!DOCTYPE html>
<html ng-app="acalApp">
<head>
	<meta charset="UTF-8">
	<title>Status</title>
	<link rel="stylesheet" href="css/status.css"/>
	<link rel="stylesheet" href="css/tabs.css"/>
	<link rel="stylesheet" href="css/acal.css"/>

	<script src="js/jquery-1.11.3.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/status-app.js"></script>

	<!-- Local interface building -->
	<script src='js/acal.js'></script>
	<script src='js/weather.js'></script>
	<!-- script src='js/calendar.js'></script -->
	
	<script type="text/javascript">
	$(document).ready(function() {
//		setupCalendar(); // See calendar.js
	});
	</script>
</head>

<body ng-controller="MainCtrl as ctrl">

<div id="events">
	<div id="updateStatus">
		Updates:
		<span id="statusDisplay" style="{{ctrl.updateStatus}}">XXXXX</span>
	</div>

    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{activeTab:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="currentTabView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="today.html">
		<div id="viewToday">
			<h3>Today's Events:</h3>
			<p>Ski off Mount Everest</p>
			<p>Eat dinner</p>
		</div>
	</script>
	
	<script type="text/ng-template" id="add.html">
		<div id="viewAdd">
		What: <input type="text" ng-model="ctrl.event.what" required/>
		<br>
		Start: <input type="text" datepicker ng-model="ctrl.event.start" required/>
		<br>
		End: <input type="text" datepicker ng-model="ctrl.event.end"/>
		<br>
		All Day: <input type="checkbox" ng-model="ctrl.event.allDay"/>
		<br>
		Type:
		<select ng-model="ctrl.event.type">
			<option></option>
			<option>virginia</option>
			<option>jon</option>
			<option>kids</option>
			<option>school</option>
		</select>
		<button ng-click="ctrl.save()">Add</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="edit.html">
		<div id="viewEdit">
			<h1>Edit</h1>
			<p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
		</div>
	</script>
	
	<script type="text/ng-template" id="find.html">
		<div id="viewFind">
		<table border="1" cellpadding="1" width="100%">
			<tr><th></th><th>Event</th><th>Start</th><th>End</th><th>All Day?</th></tr>
			<tr ng-repeat="event in ctrl.events">
				<td><button ng-click="ctrl.remove(event.id)">X</button></td>
				<td>{{event.what}}</td>
				<td>{{event.start}}</td>
				<td>{{event.end}}</td>
				<td>{{event.allDay}}</td>
			</tr>
		</table>
		</div>
	</script>
</div>

<div id="weather">
	<table>
		<tr><td colspan="3"><span id="weatherWhere"> </span></td></tr>
		
		<tr>
			<th rowspan="3" align="left"><h2 id="refreshNow">Now</h2></th>
			
			<td><img id="currentConditionsIcon"/></td>
			<td><span id="currentTemp">-- F</span></td>
		</tr>
		<tr>
			<td><span id="currentConditions"> </span></td>
			<td><span id="currentFeelsLike">--</span></td>
		</tr>
		<tr>
			<td colspan="2"><span id="currentGeneral"> </span></td>
		</tr>
		
		<tr><td height="10px" colspan="3"></td></tr>

		<tr>
			<th rowspan="3" align="left"><h2 id="refreshForecast">Forecast</h2></th>
			
			<td><img id="forecastIcon"></img></td>
			<td>High: <span id="forecastHigh">--</span></td>
		</tr>
		<tr>
			<td><span id="forecastConditions"> </span></td>
			<td>Low: <span id="forecastLow">--</span></td>
		</tr>
		
	</table>
</div>

<div id="calendar-container">
	<table>
		<tr><td colspan="7">{{ctrl.tick}}</td></tr>
		<tr class="calendarheader">
			<th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th>
			<th>Thursday</th><th>Friday</th><th>Saturday</th>
		</tr>
		<tr class="week" ng-repeat="week in ctrl.weeks">
			<td ng-repeat="day in week.days" class="day {{day.dow}} {{day.month}}">
				<span class="daytitle">{{day.month}} {{day.dom}}</span>
				<span class="dayaddevent" ng-click="ctrl.addEventToDay('{{day.id}}')">+</span>
				<span ng-click="alert('ok!')">ok</span>
				
				
				<p ng-repeat="event in day.events" class="dayevent">
				{{event.what}}  <span class="remove" ng-click="ctrl.remove(event.id)">X</span>
				</p>
			</td>
		</tr>
	</table>
</div>

</body>
</html>