<!DOCTYPE html>
<html ng-app="statusApp">
<head>
	<meta charset="UTF-8">
	<title>Status</title>
	<link rel="stylesheet" href="css/status.css"/>
	<link rel="stylesheet" href="css/tabs.css"/>

	<!-- FullCalendar -->
	<link rel='stylesheet' href='js/fullcalendar/fullcalendar.css' />
	<script src='js/fullcalendar/lib/jquery.min.js'></script>
	<script src='js/fullcalendar/lib/moment.min.js'></script>
	<script src='js/fullcalendar/fullcalendar.js'></script>

	<!-- Local interface building -->
	<script src='js/weather.js'></script>
	<script src='js/calendar.js'></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		setupCalendar(); // See calendar.js
	});
	</script>
	<script type='text/javascript'>
	$(document).ready(function() {
	    $('#calendar').fullCalendar({
	        googleCalendarApiKey: '887345215199-vtgau9c31a7t5q3s9snavrpig0mj5op4.apps.googleusercontent.com',
	        eventSources: [
	            {
	                googleCalendarId: '8fa5mcgbfuo4698iku9cbiu87o@group.calendar.google.com'
	            }
	        ]
	    });
	});
	</script>
</head>

<body ng-controller="MainCtrl as ctrl">

<div id="events">
    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{activeTab:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="currentTabView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="today.html">
		<div id="viewToday">
			<h3>Today's Events:</h3>
			<p>Ski off Mount Everest</p>
			<p>Eat dinner</p>
		</div>
	</script>
	
	<script type="text/ng-template" id="add.html">
		<div id="viewAdd">
		What: <input type="text" ng-model="ctrl.event.what" required/>
		<br>
		Start: <input type="text" datepicker ng-model="ctrl.event.start" required/>
		<br>
		End: <input type="text" datepicker ng-model="ctrl.event.end"/>
		<br>
		All Day: <input type="checkbox" ng-model="ctrl.event.allDay"/>
		<br>
		Type:
		<select ng-model="ctrl.event.type">
			<option></option>
			<option>virginia</option>
			<option>jon</option>
			<option>kids</option>
			<option>school</option>
		</select>
		<button ng-click="ctrl.add()">Add</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="edit.html">
		<div id="viewEdit">
			<h1>Edit</h1>
			<p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
		</div>
	</script>
	
	<script type="text/ng-template" id="find.html">
		<div id="viewFind">
		<table border="1" cellpadding="1" width="100%">
			<tr><th></th><th>Event</th><th>Start</th><th>End</th><th>All Day?</th></tr>
			<tr ng-repeat="event in ctrl.events">
				<td><button ng-click="ctrl.delete(event)">X</button></td>
				<td>{{event.what}}</td>
				<td>{{event.start}}</td>
				<td>{{event.end}}</td>
				<td>{{event.allDay}}</td>
			</tr>
		</table>
		</div>
	</script>
</div>

<div id="weather">
	<table>
		<tr><td colspan="3"><span id="weatherWhere"> </span></td></tr>
		
		<tr>
			<th rowspan="3" align="left"><h2 id="refreshNow">Now</h2></th>
			
			<td><img id="currentConditionsIcon"/></td>
			<td><span id="currentTemp">-- F</span></td>
		</tr>
		<tr>
			<td><span id="currentConditions"> </span></td>
			<td><span id="currentFeelsLike">--</span></td>
		</tr>
		<tr>
			<td colspan="2"><span id="currentGeneral"> </span></td>
		</tr>
		
		<tr><td height="10px" colspan="3"></td></tr>

		<tr>
			<th rowspan="3" align="left"><h2 id="refreshForecast">Forecast</h2></th>
			
			<td><img id="forecastIcon"></img></td>
			<td>High: <span id="forecastHigh">--</span></td>
		</tr>
		<tr>
			<td><span id="forecastConditions"> </span></td>
			<td>Low: <span id="forecastLow">--</span></td>
		</tr>
		
	</table>
</div>

<div id="calendar-container">
	<div id="calendar"></div>
</div>

<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/status-app.js"></script>

</body>
</html>