<!DOCTYPE html>
<html ng-app="statusApp">
<head>
	<meta charset="UTF-8">
	<title>Status</title>
	<link rel="stylesheet" href="css/status.css"/>

	<!-- FullCalendar -->
	<link rel='stylesheet' href='js/fullcalendar/fullcalendar.css' />
	<script src='js/fullcalendar/lib/jquery.min.js'></script>
	<script src='js/fullcalendar/lib/moment.min.js'></script>
	<script src='js/fullcalendar/fullcalendar.js'></script>

	<!-- jQuery -->
	<!-- script src="js/jquery-1.11.3.js"></script-->

	<!-- Local interface building -->
	<script src='js/weather.js'></script>
	<script src='js/calendar.js'></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#calendar').fullCalendar({
	    	events : "/status/fullCalendarEvents"
	    });
//		setupCalendar(); // See calendar.js
	});
	</script>
</head>

<body ng-controller="MainCtrl as ctrl">

<div id="events">
<button onclick="setupCalendar()">click me</button>
	<tab title="Today">
		<h3>Today's Events:</h3>
		<p>Ski off Mount Everest</p>
		<p>Eat dinner</p>
	</tab>

	<tab title="Add">
		What: <input type="text" ng-model="ctrl.event.what" required/>
		<br>
		Start: <input type="text" datepicker ng-model="ctrl.event.start" required/>
		<br>
		End: <input type="text" datepicker ng-model="ctrl.event.end"/>
		<br>
		All Day: <input type="checkbox" ng-model="ctrl.event.allDay"/>
		<br>
		Type:
		<select ng-model="ctrl.event.type">
			<option></option>
			<option>virginia</option>
			<option>jon</option>
			<option>kids</option>
			<option>school</option>
		</select>
		<button ng-click="ctrl.add()">Add</button>
	</tab>

	<tab title="Edit">
	</tab>

	<tab title="Find">
		<table border="1" cellpadding="2" width="100%">
			<tr><th></th><th>Event</th><th>Start</th><th>End</th><th>All Day?</th></tr>
			<tr ng-repeat="event in ctrl.events">
				<td><button ng-click="ctrl.delete(event)">X</button></td>
				<td>{{event.what}}</td>
				<td>{{event.start}}</td>
				<td>{{event.end}}</td>
				<td>{{event.allDay}}</td>
			</tr>
		</table>
	</tab>
</div>

<div id="weather">
	<h1>Sunny</h1>
	<h1><span id="hi-temp-value">--</span> Degrees <span id="temp-units"></span></h1>
	<h1><span id="lo-temp-value">--</span></h1>
	<button id="refreshWeather">Refresh</button>
</div>

<div id="calendar-container">
	<div id="calendar"></div>
</div>
<!-- 
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/status-app.js"></script>
 -->
</body>
</html>