<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>Small status console</display-name>
    <description>Small household status display</description>

    <context-param>
      <param-name>data-dir</param-name>
      <param-value>/var/local/status</param-value>
      <description>Location of data files</description>
    </context-param>

    <context-param>
      <param-name>event-file</param-name>
      <param-value>events.json</param-value>
      <description>Location of event file</description>
    </context-param>

    <context-param>
      <param-name>style-file</param-name>
      <param-value>event-styles.json</param-value>
      <description>Event style file name</description>
    </context-param>

    <context-param>
      <param-name>ui-config-file</param-name>
      <param-value>ui-config.json</param-value>
      <description>Name of UI configuration file</description>
    </context-param>

    <context-param>
      <param-name>always-reload</param-name>
      <param-value>true</param-value>
      <description>Whether to reload data every request</description>
    </context-param>

    <!-- Servlets -->
    
    <servlet>
      <servlet-name>events</servlet-name>
      <servlet-class>com.jonandvirginia.small.servlet.ListServlet</servlet-class>
      <description>produce a list of events</description>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>fullCalendarEvents</servlet-name>
      <servlet-class>com.jonandvirginia.small.servlet.FullCalendarServlet</servlet-class>
      <description>list events in FullCalendar format</description>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>saveEvent</servlet-name>
      <servlet-class>com.jonandvirginia.small.servlet.SaveServlet</servlet-class>
      <description>save an event, old or new</description>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>deleteEvent</servlet-name>
      <servlet-class>com.jonandvirginia.small.servlet.DeleteServlet</servlet-class>
      <description>delete an event</description>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>uiConfig</servlet-name>
      <servlet-class>com.jonandvirginia.small.servlet.UiConfigServlet</servlet-class>
      <init-param>
        <param-name>config-file</param-name>
        <param-value>data/ui-config.json</param-value>
      </init-param>
      <description>supply configuration parameters to UI</description>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet mappings -->

    <servlet-mapping>
      <servlet-name>events</servlet-name>
      <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>fullCalendarEvents</servlet-name>
      <url-pattern>/fullCalendarEvents</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>saveEvent</servlet-name>
      <url-pattern>/save</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>deleteEvent</servlet-name>
      <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>uiConfig</servlet-name>
      <url-pattern>/ui</url-pattern>
    </servlet-mapping>

    <!-- Config -->
    
    <session-config>
      <!-- 8 hours -->
      <session-timeout>480</session-timeout>
    </session-config>

</web-app>
